@model HRM.Models.EMPLOYEE

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Bạn có chắc muốn xóa nhân viên này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Mã nhân viên")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>
        <dt>
            @Html.DisplayName("Tên nhân viên")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về danh sách nhân viên", "Index")
        </div>
    }
</div>
