@model HRM.Models.EMPLOYEE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .dt, dd{
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 30px;
        /* identical to box height, or 22px */
        letter-spacing: 0.01em;
        background: none;
        color: black;
    }
</style>
<div>
    <!-- The topbar -->
    <div class="topbar">
        <div class="container">
            <div class="title">
                <div class="title__main">
                    Quản lý nhân sự
                </div>
                <span class="gg-chevron-double-right"></span>
                <div class="title__sub">
                    Thông tin nhân viên
                </div>
            </div>

            <div class="user__name">
                Tên
            </div>

            <div class="user__ava">
                Anh
            </div>

            <div class="user__infor">
                Chức vụ <span>/</span> Phòng
            </div>

            <div class="notify__icon">
                <i class="fa fa-fw fa-user"></i>
            </div>

            <div class="logout__icon">
                <a href="#"><i class="gg-log-in"></i></a>
            </div>
        </div>
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Mã nhân viên")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>
        <dt>
            @Html.DisplayName("Tên nhân viên")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt>
            @Html.DisplayName("Ảnh")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt>
            @Html.DisplayName("Giới tính")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt>
            @Html.DisplayName("Ngày sinh")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoB)
        </dd>

        <dt>
            @Html.DisplayName("Nơi sinh")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthplace)
        </dd>

        <dt>
            @Html.DisplayName("Quê quán")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTown)
        </dd>

        <dt>
            @Html.DisplayName("Dân tộc")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nation)
        </dd>

        <dt>
            @Html.DisplayName("CMND/CCCD")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayName("Số điện thoại")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayName("Email")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayName("Phường / Xã")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dictrict)
        </dd>
        <dt>
            @Html.DisplayName("Quận / Huyện")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ward)
        </dd>
        <dt>
            @Html.DisplayName("Thành phố")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayName("Đăng ký bảo hiểm y tế tại công ty")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HealthInsurance)
        </dd>
        <dt>
            @Html.DisplayName("Mã bảo hiểm y tế")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HealthInsuranceID)
        </dd>
        <dt>
            @Html.DisplayName("Mã bảo hiểm xã hội")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SocialInsuranceID)
        </dd>
        <dt>
            @Html.DisplayName("Đăng ký giảm trừ cá nhân")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeductionPersonal)
        </dd>
        <dt>
            @Html.DisplayName("Đăng ký giảm trừ phụ thuộc")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeductionDependent)
        </dd>
        <dt>
            @Html.DisplayName("Số hợp đồng")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CONTRACT.ContractID)
        </dd>
        <dt>
            @Html.DisplayName("Loại hợp đồng")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CONTRACT.ContractType)
        </dd>
        <dt>
            @Html.DisplayName("Phòng")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.POSITION.PositionName)
        </dd>
        <dt>
            @Html.DisplayName("Chức vụ")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ROOM.RoomName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
