@model IEnumerable<HRM.Models.EmployeeViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Title: @Html.TextBox("SearchString") <input type="submit" value="Tìm kiếm" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Mã nhân viên")
        </th>
        <th>
            @Html.DisplayName("Ảnh")
        </th>
        <th>
            @Html.DisplayName("Tên nhân viên")
        </th>
        <th>
            @Html.DisplayName("Giới tính")
        </th>
        <th>
            @Html.DisplayName("Điện thoại")
        </th>
        <th>
            @Html.DisplayName("Phòng")
        </th>
        <th>
            @Html.DisplayName("Chức vụ")
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }) |
                @Html.ActionLink("Details", "Details", new { id = item.EmployeeID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID })
            </td>
        </tr>
    }

</table>