@model IEnumerable<HRM.Models.EmployeeViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .add__button {
        display: block;
        height: 36px;
        width: 94px;
        right: 36px;
        top: 80px;
        position: absolute;
        background: #E3F2FD;
        border: 1px solid #3D76B5;
        border-radius: 4px;
    }

</style>

@using (Html.BeginForm())
{
    <p>
        Mã nhân viên: @Html.TextBox("SearchString") <input type="submit" value="Tìm kiếm" />
    </p>
}
<button class="add__button" onclick="window.location='https://localhost:44319/EMPLOYEEs/Create'">Thêm</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Mã nhân viên")
        </th>
        <th>
            @Html.DisplayName("Ảnh")
        </th>
        <th>
            @Html.DisplayName("Tên nhân viên")
        </th>
        <th>
            @Html.DisplayName("Giới tính")
        </th>
        <th>
            @Html.DisplayName("Điện thoại")
        </th>
        <th>
            @Html.DisplayName("Phòng")
        </th>
        <th>
            @Html.DisplayName("Chức vụ")
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }) |
                @Html.ActionLink("Details", "Details", new { id = item.EmployeeID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID })
            </td>
        </tr>
    }

</table>