@model IEnumerable<HRM.Models.EMPLOYEE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthplace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeTown)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ward)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dictrict)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HealthInsurance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HealthInsuranceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SocialInsuranceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeductionPersonal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeductionDependent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTRACT.ContractType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POSITION.PositionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROOM.RoomName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USER.Password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthplace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTown)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ward)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dictrict)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HealthInsurance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HealthInsuranceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SocialInsuranceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeductionPersonal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeductionDependent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTRACT.ContractType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.POSITION.PositionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROOM.RoomName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USER.Password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeID })
        </td>
    </tr>
}

</table>
