<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale = 1.0">
	<!-- Load icon, font library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type='text/css'>
	<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/css.gg/icons/all.css'>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap" rel="stylesheet">
	<script src="~/Scripts/jquery-3.4.1.min.js"></script>
	<style>
		/*SCROLLBAR STYLE*/
		/* width */
		::-webkit-scrollbar {
			width: 7px;
		}

		/* Track */
		::-webkit-scrollbar-track {
			border-radius: 10px;
			margin-top: 10px;
			margin-bottom: 30px;
			margin-right: 2px;
		}

		/* Handle */
		::-webkit-scrollbar-thumb {
			background: #C4C4C4;
			border-radius: 10px;
		}


		/* SIDENAV STYLE */
		.sidenav {
			height: 100%;
			width: 245px;
			position: fixed;
			z-index: 10;
			top: 0;
			left: 0;
			background: #3D76B5;
			overflow-x: hidden;
			padding-top: 20px;
			font-family: Montserrat;
			font-style: normal;
			font-weight: bold;
			font-size: 15px;
			line-height: 36px;
			color: #A0FFFF;
		}

		.company-logo {
			display: block;
			height: 30px;
			color: white;
		}

		.sidenav__title {
			margin-left: 14px;
		}

		.personal a {
			text-decoration: none;
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			line-height: 30px;
			color: #FFFFFF;
			display: block;
			border: 1px solid #3D76B5;
			background: linear-gradient(0deg, #3D76B5, #3D76B5);
			width: 100%;
			text-align: left;
			cursor: pointer;
			left: 0;
			padding-bottom: 10px;
			padding-left: 14px;
		}

		.management a, .report a, .regulations a {
			text-decoration: none;
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 13px;
			line-height: 30px;
			color: #FFFFFF;
			display: block;
			border: 1px solid #3D76B5;
			background: linear-gradient(0deg, #6A9CD3, #6A9CD3);
			width: 100%;
			text-align: left;
			cursor: pointer;
			padding-left: 8px;
			left: 0;
		}

		hr.rounded {
			height: 1px;
			color: #5CA2D7;
			margin-left: 10px;
			margin-right: 10px;
			background-color: #5CA2D7;
			border: 0px;
		}
		/* Style the sidenav links and the dropdown button */
		.dropdown-btn {
			padding: 0px 0px 5px 10px;
			text-decoration: none;
			font-family: Montserrat;
			font-size: 15px;
			color: #FFFFFF;
			display: block;
			border: none;
			background: none;
			width: 100%;
			text-align: left;
			cursor: pointer;
			padding-top: 13px;
			padding-bottom: 13px;
		}

			.dropdown-btn:focus {
				border: none;
				outline: none;
			}

		/* Optional: Style the caret down icon */
		.gg-chevron-down {
			float: right;
			padding-right: 30px;
		}

		/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
		.dropdown-container {
			display: none;
			background: linear-gradient(0deg, #6A9CD3, #6A9CD3);
			padding-left: 0px;
			margin-left: 0;
		}

		.block {
			height: 60px;
		}


		/* TOPBAR STYLE */
		.topbar {
			z-index: 9;
			margin-left: 245px; /* Same as the width of the sidenav */
			height: 62px;
			width: 100%;
			top: 0;
			left: 0;
			position: fixed;
			border-top: 5px;
			border-right: 5px;
			border-color: black;
			background-color: white;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
		}

			.topbar topbar__list {
				list-style-type: none;
				margin-top: 0px;
				margin-bottom: 0px;
				display: flex;
				text-align: right;
			}

				.topbar topbar__list li {
					margin: 0 1rem;
					float: right;
				}

		.title, .user__ava, .notify__icon, .logout__icon {
			position: fixed;
			top: 20px;
		}

		.title {
			display: flex;
			left: 272px;
			text-align: left;
		}

			.title span {
				-ms-flex: 1;
				flex: 1;
				height: 100%;
			}

			.title title__main {
				font-family: Montserrat;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 17px;
				color: #589CE5;
			}

			.title title__sub {
				font-family: Montserrat;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 17px;
				color: #2C2C2C;
			}

		.user__ava {
			right: 60px;
			width: 40px;
			height: 40px;
		}

		.user__name {
			display: inline-block;
			position: fixed;
			top: 17px;
			right: 110px;
			text-align: right;
			font-size: 14px;
			font-family: Montserrat;
			line-height: 17px
		}

		.user__infor {
			position: fixed;
			top: 32px;
			right: 110px;
			font-family: Montserrat;
			font-style: normal;
			font-weight: 300;
			font-size: 11px;
			line-height: 13px;
			color: #2C2C2C;
		}

		.notify__icon {
			right: 40px;
		}

		.logout__icon {
			right: 20px;
			color: black;
		}

		/*MODAL STYLE*/
		.modal {
			display: none; /* Hidden by default */
			position: fixed; /* Stay in place */
			z-index: 12; /* Sit on top */
			float: left;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			text-align: left;
			width: 490px;
			height: 554px;
			overflow: auto; /* Enable scroll if needed */
			background-color: rgb(0,0,0); /* Fallback color */
			background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
			-webkit-animation-name: fadeIn; /* Fade in the background */
			-webkit-animation-duration: 0.4s;
			animation-name: fadeIn;
			animation-duration: 0.4s;
			vertical-align: middle;
			margin-left: 122px;
			margin-top: 30px;
		}
		.modal-content {
			position: fixed;
			background-color: #fefefe;
			width: 100%;
			height: 100%;
			-webkit-animation-name: slideIn;
			-webkit-animation-duration: 0.4s;
			animation-name: slideIn;
			animation-duration: 0.4s
		}

		.modal-header {
			top: 0px;
			height: 32px;
			padding: 2px 16px;
			background-color: #E0EFFF;
			color: #4282BB;
			font-size: 20px;
			font-family: 'IBM Plex Sans', sans-serif;
			font-style: normal;
			font-weight: bold;
		}

		.modal-body {
			padding-top: 10px;
			padding-left: 37px;
			padding-right: 37px;
		}

		.modal__text {
			font-size: 15px;
			font-family: 'IBM Plex Sans', sans-serif;
			font-style: normal;
			margin-top: 13px;
			margin-bottom: 7px;
		}

		.modal-title {
			display: inline-block;
			width: 50%;
		}

		#bg {
			background-color: black;
			width: 0;
			height: 0;
			display: none;
			position: fixed;
			top: 0px;
			left: 0px;
		}

		/* The Close Button */
		.close {
			color: #4282BB;
			float: right;
			font-weight: bold;
		}

			.close:hover,
			.close:focus {
				color: #000;
				text-decoration: none;
				cursor: pointer;
			}

		ul.button {
			list-style: none;
			text-align: center;
			padding: 0px;
		}

			ul.button li {
				display: inline-block;
			}

				ul.button li input {
					width: 126px;
					height: 40px;
					box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
					border-radius: 4px;
					margin-left: 10px;
					margin-right: 10px;
					margin-top: 25px;
					color: white;
				}
		/*LABEL STYLE*/
		.label {
			font-family: IBM Plex Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			line-height: 30px;
			/* identical to box height, or 22px */
			letter-spacing: 0.01em;
			background: none;
			position: absolute;
			color: black;
		}

		/*TEXTBOX STYLE*/
		.text-box {
			align-items: flex-start;
			padding: 12px;
			height: 47px;
			/* Surface/Light */
			background: #F8FAFA;
			border: 1px solid #DBDBDB;
			box-sizing: border-box;
			border-radius: 4px;
			/* Inside Auto Layout */
			flex: none;
			order: 1;
			align-self: stretch;
			flex-grow: 0;
			margin: 0px 2px;
			/*Text*/
			color: #060606;
			padding-left: 10px;
			position: absolute;
			font-size: 15px;
		}
		/*TABLE*/
		table {
			border: 1px solid black;
		}
		table, th, td, tr {
			border-color: #DFE0EB !important;
			border-radius: 5px !important;
		}
		.th-inner{
			font-size: 14px !important;
		}
		/*BUTTON CANCEL AND SAVE*/
		.btn-save {
			background: #3D76B5;
			/* 1 dp */
			box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
			border-radius: 4px;
			color: white;
			width: 125px;
			height: 40px;
			position: absolute;
		}

		.btn-cancel {
			background: #E65252;
			/* 1 dp */
			box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
			border-radius: 4px;
			width: 125px;
			height: 40px;
			color: white;
			position:
		}
			/* MAIN STYLE */
			.main {
			font-family: Montserrat;
			margin-left: 245px; /* Same as the width of the sidenav */
			margin-top: 62px; /* Same as the width of the sidenav */
			font-size: 15px; /* Increased text to enable scrolling */
			padding: 10px 10px;
		}
	</style>
</head>
<body>
    <!-- The sidenav -->
    <div class="sidenav">
        <div class="company-logo">
        </div>

        <div class="personal">
            <div class="sidenav__title">
                Cá nhân
            </div>
            <a href="#infor"><i class='fa fa-user-tie'></i> Thông tin</a>
            <a href="#salary"><i class="fa fa-dollar-sign"></i> Bảng lương</a>
            <a href="#timekeeping"><i class="fa fa-calendar-o"></i> Bảng chấm công</a>
        </div>

        <hr class="rounded">
        <div class="management">
            <div class="sidenav__title">
                Quản lý
            </div>

			<button class="dropdown-btn">
				<!-- Icon -->
				<span class="fa fa-folder"></span> Nhân sự <i class="gg-chevron-down"></i>   <!-- Dấu mũi tên xuống -->
			</button>

			<div class="dropdown-container">
				@Html.ActionLink("Thêm nhân viên", "Create", "EMPLOYEEs")
				@Html.ActionLink("Tra cứu nhân viên", "Index", "EMPLOYEEs")
				@Html.ActionLink("Tài khoản nhân viên", "Index", "USERs")
			</div>

            <button class="dropdown-btn">
                <!-- Icon -->                                    <!-- Dấu mũi tên xuống -->
                <span class="fa fa-clock-o"></span> Chấm công <i class="gg-chevron-down"></i>
            </button>

			<div class="dropdown-container">
				@Html.ActionLink("Xem bảng chấm công", "Index", "TIMEKEEPINGTABLE")
			</div>

			<button class="dropdown-btn">
				<i class="fa fa-dollar-sign"></i> &nbsp Tiền lương <i class="gg-chevron-down"></i>     <!-- Dấu mũi tên xuống -->
			</button>

			<div class="dropdown-container">
				<a href="#">Bảng lương ngày công</a>
				<a href="#">Bảng lương làm thêm</a>
				@Html.ActionLink("Bảng lương tạm ứng", "Index", "ADVANCEDs")
				@Html.ActionLink("Bảng phụ cấp, trợ cấp, thưởng", "Index", "ALLOWANCEs")
			</div>

            <button class="dropdown-btn">
                <i class="fa fa-unlock-alt"></i> Tài khoản <i class="gg-chevron-down"></i>     <!-- Dấu mũi tên xuống -->
            </button>

            <div class="dropdown-container">
                <a href="#">Thay đổi mật khẩu</a>
                <a href="#">Danh sách nhóm quyền</a>
            </div>
        </div>

        <hr class="rounded">
        <div class="report">
            <div class="sidenav__title">
                Báo cáo
            </div>

            <button class="dropdown-btn">
                <!-- Icon -->
                <i class="fa fa-clock-o"></i> Chấm công<i class="gg-chevron-down"></i>     <!-- Dấu mũi tên xuống -->
            </button>

			<div class="dropdown-container">
				@Html.ActionLink("Chấm công tháng", "Index", "TIMEKEEPINGREPORTs")
				@Html.ActionLink("Chấm công giờ làm thêm tháng", "OvertimeIndex", "TIMEKEEPINGREPORTs")
			</div>

			<button class="dropdown-btn">
				<!-- Icon -->
				<i class="fa fa-dollar-sign"></i> &nbsp Tiền lương<i class="gg-chevron-down"></i>     <!-- Dấu mũi tên xuống -->
			</button>

			<div class="dropdown-container">
				@Html.ActionLink("Tiền lương", "Index", "SALARYREPORTs")
				@Html.ActionLink("Thuế TNCN", "Index", "TAXREPORTs")
				@Html.ActionLink("Bảo hiểm", "Index", "INSURANCEREPORTs")
			</div>
        </div>

        <hr class="rounded">
        <div class="regulations">
            <button class="dropdown-btn">
                <!-- Icon -->
                <i class="fa fa-cog"></i> Thiết lập quy định<i class="gg-chevron-down"></i>     <!-- Dấu mũi tên xuống -->
            </button>

			<div class="dropdown-container">
				@Html.ActionLink("Hồ sơ nhân viên", "Employee", "PARAMETERs")
				@Html.ActionLink("Phòng ban", "Index", "ROOMs")
				@Html.ActionLink("Chức vụ", "Index", "POSITIONs")
				@Html.ActionLink("Tỷ lệ trích bảo hiểm", "Insurance", "PARAMETERs")
				@Html.ActionLink("Thuế thu nhập cá nhân", "IncomeTax", "PARAMETERs")
				@Html.ActionLink("Thuế suất", "Index", "TAXRATEs")
				@Html.ActionLink("Hệ số lương làm thêm", "CoefficientsOTSalary", "PARAMETERs")
				@Html.ActionLink("Số ngày công chuẩn", "StandardWorkDay", "PARAMETERs")
			</div>
        </div>

        <div class="block">
        </div>
    </div>


    <!-- The topbar -->
    <div class="topbar">
        <div class="container">
             @*<div class="title">
        <div class="title__main">
            Title
        </div>
        <span class="gg-chevron-double-right"></span>
        <div class="title__sub">
            Title
        </div>
		</div>*@ 

            <div class="user__name">
                @if (Session["EmployeeID"] != null)
                {
                    @Session["EmployeeName"]
                }
            </div>

            <div class="user__ava">
                Anh
            </div>

            <div class="user__infor">
                @if (Session["EmployeeID"] != null)
                {
                    @Session["Position"] <span>/</span> @Session["Room"]
                }
            </div>

            <div class="notify__icon">
                <i class="fa fa-fw fa-user"></i>
            </div>

            <div class="logout__icon">
                <a href="#" onclick="openLogoutModal()"><i class="gg-log-in"></i></a>
            </div>

            <div id="logoutModal" class="modal" style="height:200px !important">
                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="logout_close" onclick="closeLogoutModal()">&times;</span>
                    </div>
                    <div class="modal-body">
                        <div class="modal__text">
                            Bạn có muốn đăng xuất khỏi trang?
                        </div>
                        <ul class="button">
                            <li>
                                <a href="@Url.Action("Logout","Home")">
                                    <input type="button" id="confirmbtn" value="Có" style="background: #3D76B5"/>
                                </a>
                            </li>
                            <li>
                                <input type="button" id="declinebtn" value="Không" style="background: #C33333" onclick="closeLogoutModal()">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="bg"></div>

        </div>
    </div>


    <!-- The main -->
    <div class="main">
        @RenderBody()
    </div>


    <!-- The script -->
    <!-- script for logout modal -->
    <script>
        $("#LoadingStatus").html("Loading....");
        // Get the modal
        var logout_modal = document.getElementById("logoutModal");

        // Get the <span> element that closes the modal
        var logout_span = document.getElementsByClassName("logout_close")[0];

        // When the user clicks the button, open the modal
        function openLogoutModal() {
            logout_modal.style.display = "block";

            $("#bg").width("100%").height("100%");

            $("#bg").fadeTo("slow", 0.8);
        }

        var btnCreate = document.getElementById("confirmbtn");

        //close create modal
        function closeLogoutModal() {
            logout_modal.style.display = "none";
            $("#bg").fadeOut();
        }
    </script>

    <!-- script for dropdown button -->
    <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;
        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                //this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>

    <!-- script for change title -->
    <script>
        let title_el = document.querySelector("title__main");

        if (title_el)
            title_el.innerHTML = "World";
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
