@model HRM.Models.TAXRATE

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        .taxrate-create-lbl {
            font-family: IBM Plex Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 150%;
            /* identical to box height, or 22px */
            letter-spacing: 0.01em;
            color: #000000;
        }

        .taxrate-create-txtbox {
            /* Text Block */
            /* Auto Layout */
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 500px;
            height: 50px;
            /* Surface/Light */
            background: #F8FAFA;
            border: 1px solid #DBDBDB;
            box-sizing: border-box;
            border-radius: 4px;
            /* Inside Auto Layout */
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
            /*Inside Text*/
            padding: 12px;
            font-family: IBM Plex Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 150%;
            letter-spacing: 0.01em;
            color: #060606;
        }

        .taxrate-create-margin {
            margin-left: 24px;
        }

        .taxrate-create-btn {
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
            border-radius: 4px;
            width: 126px;
            height: 40px;
            /* Inside Text */
            font-family: IBM Plex Sans;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 1.25px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        .taxrate-error-msg {
            font-family: Montserrat;
            color: red;
        }
    </style>
</head>

<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group taxrate-create-margin" style="margin-top:96px; height:110px;">
            @Html.Label("Bậc thuế", htmlAttributes: new { @class = "taxrate-create-lbl" })
            <br />
            <input id="rank" type="text" class="taxrate-create-txtbox" style="background:#E8E8E8;"  disabled/>
        </div>

        <div class="form-group taxrate-create-margin" style="height:110px;">
            @Html.Label("Phần thu nhập tính thuế / tháng (triệu đồng)", htmlAttributes: new { @class = "taxrate-create-lbl" })
            <br />
            @Html.TextBoxFor(model => model.Min, "", new { @id = "min" , @class = "taxrate-create-txtbox" , @placeholder = "Từ ..." })
            @Html.ValidationMessageFor(model => model.Min, "", new { @class = "taxrate-error-msg" })
        </div>

        <div class="form-group taxrate-create-margin" style="height:110px;">
            @Html.Label("Thuế suất (%)", htmlAttributes: new { @class = "taxrate-create-lbl" })
            <br />
            @Html.TextBoxFor(model => model.Rate, "", new { @id = "rate" , @class = "taxrate-create-txtbox" })
            @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "taxrate-error-msg" })
        </div>

        <div class="form-group" style="margin-left:395px;">
            <input type="submit" value="Thêm" class="btn taxrate-create-btn" style="background: #3D76B5;" />
            <a href="@Url.Action("BackToIndex","TAXRATEs")">
                <input type="button" value="Hủy" class="btn taxrate-create-btn" style="background: #C33333;" />
            </a>
        </div>
    }

    <script>
        document.getElementById("rank").value = @Html.Action("RankGenerator");
    </script>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
