@model IEnumerable<HRM.Models.TAXRATE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        .add__button {
            display: block;
            height: 36px;
            width: 94px;
            right: 36px;
            top: 80px;
            position: absolute;
            background: #E3F2FD;
            border: 1px solid #3D76B5;
            border-radius: 4px;
            /* Text */
            font-family: IBM Plex Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #3D76B5;
        }
    </style>
</head>

<body>
    <a href="@Url.Action("ToCreate","TAXRATEs")">
        <input type="button" id="btn" class="add__button" value="+ Thêm" />
    </a>
    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Min)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Min)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Rank })
                </td>
            </tr>
        }

    </table>

</body>