@model IEnumerable<HRM.Models.ALLOWANCE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fresh-bootstrap-table.css" rel="stylesheet" />

    <link href="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.css" rel="stylesheet">

    <script src="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.1/dist/extensions/export/bootstrap-table-export.min.js"></script>

    <script src="https://unpkg.com/bootstrap-table/dist/bootstrap-table.min.js"></script>
</head>

<style>
    table, th, td, tr {
        border-color: #DFE0EB !important;
        border-radius: 5px !important;
    }

    .add__button {
        display: block;
        height: 36px;
        width: 94px;
        right: 36px;
        top: 80px;
        position: absolute;
        background: #E3F2FD;
        border: 1px solid #3D76B5;
        border-radius: 4px;
        /* Text */
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #3D76B5;
    }
</style>
<a href="@Url.Action("Create","ALLOWANCEs")">
    <input type="button" id="btn" class="add__button" value="Thêm" onclick="openCreateModal()" />
</a>
<div class="fresh-table">
    
    <table data-sortable="true" class="fresh-table" id="fresh-table" width="100%" style="margin-top:40px;">
        <thead>
            <tr>
                <th data-sortable="true">
                    @Html.DisplayName("Tên loại trợ cấp / phụ cấp / thưởng")
                </th>
                <th data-sortable="true">
                    @Html.DisplayName("Phải tính để tham gia bảo hiểm bắt buộc")
                </th>
                <th data-sortable="true">
                    @Html.DisplayName("Được miễn thuế")
                </th>
                <th data-sortable="true">
                    @Html.DisplayName("Số tiền được miễn")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AllowanceName)
                    </td>
                    <td>
                        @if (item.Insurance == true)
                        {
                            @Html.DisplayName("Có")
                        }
                        else
                        {
                            @Html.DisplayName("Không")
                        }
                    </td>
                    <td>
                        @if (item.Tax == true)
                        {
                            @Html.DisplayName("Có")
                        }
                        else
                        {
                            @Html.DisplayName("Không")
                        }
                    </td>
                    <td>
                        @if (item.Tax == true)
                        {
                            @Html.DisplayFor(modelItem => item.FreeTax)
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.AllowanceID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.AllowanceID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    var $table = $('#fresh-table')
    $(function () {
        $table.bootstrapTable({
            classes: 'table table-hover table-responsive',
            toolbar: '.toolbar',
            pagination: true,
            striped: true,
            pageSize: 8,
            pageList: [8, 10, 25, 50, 100],

            formatShowingRows: function (pageFrom, pageTo, totalRows) {
                return ''
            },
            formatRecordsPerPage: function (pageNumber) {
                return pageNumber + ' rows visible'
            }
        })
    })
</script>
