@model HRM.Models.USER

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng nhập</title>
    <style>
        body
        {
            /* Screen */
            position: relative;
            width: 100%;
            height: 100%;
            background: #3D76B5;
        }
        .login-form {
            margin-left: auto;
            margin-right: auto;
            margin-top: 90px;
            margin-bottom: 90px;
            width: 500px;
            height: 500px;
            background: #FFFFFF;
            border: 2px solid #3D76B5;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .company-logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            width: 220px;
            height: 50px;
            background-color: cornflowerblue;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 27px;
            text-align:center;
            color: #E4E4E4;
        }
        .login-label {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 27px;
            color: #4A4A4A;
        }
        .login-textbox {
            margin-left: 44px;
            width: 400px;
            height: 50px;
            font-family: Montserrat;
            font-size: 20px;
            color: gray;
        }
        .login-btn {
            margin-left: 44px;
            width: 408px;
            height: 50px;
            background-color: #3D76B5;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 27px;
            text-align: center;
            color: #E4E4E4;
            border:none;
        }
    </style>
</head>
<body>
    <div class="login-form">
        <div class="company-logo" value="">Company Name</div>

        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="login-label" style="margin-top:50px; margin-left:44px;">
                @Html.Label("Tên đăng nhập")
            </div>
            @Html.TextBoxFor(m => m.EmployeeID, "", new { @class = "login-textbox" })
            <div style="margin-left:44px; font-family:Montserrat; color:red;">
                @Html.ValidationMessageFor(m => m.EmployeeID)
            </div>

            <div class="login-label" style="margin-top:20px; margin-left:44px;">
                @Html.Label("Mật khẩu")
            </div>
            @Html.PasswordFor(m => m.Password, new { @class = "login-textbox" })
            <div style="margin-left:44px; font-family:Montserrat; color:red;">
                @Html.ValidationMessageFor(m => m.Password);
            </div>

            <div style="margin-top:20px">
                <input type="submit" name="login" class="login-btn" value="Đăng nhập" />
            </div>

        }
    </div>
</body>
</html>
