@model HRM.Models.SetShiftViewModel
@{
	ViewBag.Title = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
	<!-- Style -->
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Scripts/fresh-bootstrap-table.css" rel="stylesheet" />

	<link href="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.css" rel="stylesheet">

	<script src="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.js"></script>
	<script src="https://unpkg.com/bootstrap-table@1.18.1/dist/extensions/export/bootstrap-table-export.min.js"></script>

	<script src="https://unpkg.com/bootstrap-table/dist/bootstrap-table.min.js"></script>

	<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>

</head>
<style>
	table, th, td, tr {
		border-color: #DFE0EB !important;
		border-radius: 5px !important;
	}

	.index-txtbox {
		height: 40px;
		/* Surface/Light */
		background: #F8FAFA;
		border: 1px solid #DBDBDB;
		box-sizing: border-box;
		border-radius: 4px;
		/*Text*/
		font-family: IBM Plex Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 150%;
		padding-left: 10px;
	}

	.drop-down-list {
		/* Inside Auto Layout */
		order: 1;
		flex-grow: 0;
		margin: 0px 2px;
	}

	.search-button {
		height: 40px;
		background: #E3F2FD;
		border: 1px solid #3D76B5;
		border-radius: 4px;
	}
</style>
<body>
	<div class="col-md-6">
		<div class="fresh-table">
			<div class="search-panel" style="padding-top:10px;padding-bottom:10px;">
				<div class="col-md-3" style="padding-left: 0 !important;">
					<select class="index-txtbox drop-down-list">
						<option value="Tất cả phòng">Tất cả phòng</option>
						<option value="Phòng nhân sự">Phòng nhân sự</option>
						<option value="Phòng kế toán">Phòng kế toán</option>
						<option value="Phòng giám đốc">Phòng giám đốc</option>
					</select>

				</div>
				<div class="col-md-3" style="padding-left: 5px !important;">
					<select class="index-txtbox drop-down-list">
						<option value="Tất cả chức vụ">Tất cả chức vụ</option>
						<option value="Giám đốc">Giám đốc</option>
						<option value="Trưởng phòng">Trưởng phòng</option>
						<option value="Phó phòng">Phó phòng</option>
						<option value="Nhân viên">Nhân viên</option>
					</select>

				</div>
				<div class="col-md-3" style="padding-left: 0px !important;">
					<input type="text" class="index-txtbox" placeholder="Tìm nhân viên" />
				</div>
				<div class="col-md-3">
					<input type="button" class="search-button" value="Tìm kiếm" style="width:100%;" />
				</div>
			</div>
			<table data-sortable="true" class="fresh-table" id="fresh-table" width="100%">
				<thead>
					<tr>
						<th data-field="state" data-checkbox="true"></th>
						<th data-field="name" data-sortable="true">
							@Html.DisplayName("Tên nhân viên")
						</th>
						<th data-field="department" data-sortable="true">
							@Html.DisplayName("Phòng")
						</th>
						<th data-field="position" data-sortable="true">
							@Html.DisplayName("Chức vụ")
						</th>
					</tr>
				</thead>
				<tbody>
					@foreach(var item in Model.eMPLOYEEs)
					{
					<tr>
						<td></td>
						<td>@Html.DisplayFor(modelItem => item.EmployeeName)</td>
						<td>@Html.DisplayFor(modelItem => item.ROOM.RoomName)</td>
						<td>@Html.DisplayFor(modelItem => item.PositionID)</td>
					</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-6" style="padding-top:3% ">
		<div class="col-md-6">
			
			<label>Từ ngày</label>
			<input type="date" name="select_date" id="select_date" class="form-control" />
			<label style="margin-top:30px">Chọn ca làm việc</label>
			<select class="index-txtbox drop-down-list" style="width:100%;">
				@foreach (var item in Model.sHIFTs)
				{
					<option value="">@Html.DisplayFor(modelItem => item.ShiftName)</option>
				}
			</select>
		</div>
		<div class="col-md-6">
			<label>Đến ngày</label>
			<input type="date" name="select_date" id="select_date" class="form-control" />
		</div>
	</div>
	@*@using (Html.BeginForm())
			{
				@Html.AntiForgeryToken()
				<hr />
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				<div class="form-group">
					@Html.LabelFor(model => model.Date, "Date", htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.DropDownList("Date", null, htmlAttributes: new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.EmployeeID, "EmployeeID", htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.DropDownList("EmployeeID", null, htmlAttributes: new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.AbsentID, "AbsentID", htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.DropDownList("AbsentID", null, htmlAttributes: new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.AbsentID, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.HoursWorkDay, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.HoursWorkDay, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.HoursWorkDay, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.HoursWorkNight, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.HoursWorkNight, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.HoursWorkNight, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" value="Create" class="btn btn-default" />
					</div>
				</div>

		}*@
</body>

<script>
	var $table = $('#fresh-table')
	$(function () {
		$table.bootstrapTable({
			classes: 'table table-hover table-responsive',
			toolbar: '.toolbar',
			pagination: true,
			striped: true,
			pageSize: 8,
			checkboxHeader: true,
			clickToSelect: true,
			pageList: [8, 10, 25, 50, 100],

			formatShowingRows: function (pageFrom, pageTo, totalRows) {
				return ''
			},
			formatRecordsPerPage: function (pageNumber) {
				return pageNumber + ' rows visible'
			}
		})
	})

</script>
