@model HRM.Models.TIMEKEEPING

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TIMEKEEPING</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursWorkDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursWorkDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursWorkNight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursWorkNight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ABSENT.AbsentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ABSENT.AbsentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATEINFORMATION.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATEINFORMATION.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLOYEE.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLOYEE.EmployeeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
