@model HRM.Models.SALARYREPORT

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SALARYREPORT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Allowance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Allowance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaryStandard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryStandard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaryWorkDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryWorkDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insurance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insurance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Overtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Overtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncomeTax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncomeTax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Advance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Advance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RealSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLOYEE.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLOYEE.EmployeeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
