@model IEnumerable<HRM.Models.SALARYREPORT>

@{
	ViewBag.Title = "Load";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/fresh-bootstrap-table.css" rel="stylesheet" />

	<link href="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.css" rel="stylesheet">

	<script src="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.js"></script>
	<script src="https://unpkg.com/bootstrap-table@1.18.1/dist/extensions/export/bootstrap-table-export.min.js"></script>

	<script src="https://unpkg.com/bootstrap-table/dist/bootstrap-table.min.js"></script>
</head>

<style>
	table, th, td, tr {
		border-color: #DFE0EB !important;
		border-radius: 5px !important;
	}

	.index-txtbox {
		height: 40px;
		width: 180px;
		/* Surface/Light */
		background: #F8FAFA;
		border: 1px solid #DBDBDB;
		box-sizing: border-box;
		border-radius: 4px;
		/*Text*/
		font-family: IBM Plex Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 150%;
		padding-left: 10px;
	}

	.drop-down-list {
		/* Inside Auto Layout */
		order: 1;
		flex-grow: 0;
		margin: 0px 2px;
	}

	.search-button {
		height: 40px;
		background: #E3F2FD;
		border: 1px solid #3D76B5;
		border-radius: 4px;
	}
</style>

<div style="margin-top:10px;">
	<div class="col-md-4">
		<input type="month" class="index-txtbox" name="Month" id="Month" style="margin-top:10px; " >
	</div>
</div>

	<div class="fresh-table">
		<table data-sortable="true" class="fresh-table" id="fresh-table" width="100%" style="margin-top:10px;">
			<thead>
				<tr>
					<th>
						@Html.DisplayName("Mã nhân viên")
					</th>
					<th>
						@Html.DisplayName("Tên nhân viên")
					</th>
					<th>
						@Html.DisplayName("Phòng")
					</th>
					<th>
						@Html.DisplayName("Chức vụ")
					</th>
					<th>
						@Html.DisplayName("Thực lĩnh")
					</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.EmployeeID)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.EMPLOYEE.EmployeeName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.EMPLOYEE.ROOM.RoomName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.EMPLOYEE.POSITION.PositionName)
						</td>
						<td>
							@Html.Action("CurrencyFormat", new { num = item.RealSalary })
						</td>
						<td>
							<a href="@Url.Action("Details","SALARYREPORTs",new { id = item.EmployeeID, month = item.Month  })">
								<i class='fa fa-file pa-5 text-warning'></i>
							</a>
						</td>

					</tr>
				}
			</tbody>
		</table>
	</div>

<script>
	var $table = $('#fresh-table')
	$(function () {
		$table.bootstrapTable({
			classes: 'table table-hover table-responsive',
			pagination: true,
			striped: true,
			pageSize: 12,
			pageList: [8, 10, 25, 50, 100],

			formatShowingRows: function (pageFrom, pageTo, totalRows) {
				return ''
			},
			formatRecordsPerPage: function (pageNumber) {
				return pageNumber + ' rows visible'
			}
		})
	})
	const monthControl = document.querySelector('input[type="month"]');
	const date = new Date()
	const month = ("0" + (date.getMonth() + 1)).slice(-2)
	const year = date.getFullYear()
	monthControl.value = `${year}-${month}`;

</script>


